<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">

        <!--&lt;!&ndash; DataTables CSS &ndash;&gt;-->
        <!--<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">-->
        <!--&lt;!&ndash; jQuery &ndash;&gt;-->
        <!--&lt;!&ndash;<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>&ndash;&gt;-->
        <!--&lt;!&ndash; DataTables &ndash;&gt;-->
        <!--<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>-->

        <style>
            #wrap {
                min-height: 100%;
                height: auto !important;
                margin: 0px auto -60px;
                margin-top: 0px;
                margin-right-value: auto;
                margin-bottom: -60px;
                margin-left-value: auto;
                margin-left-ltr-source: physical;
                margin-left-rtl-source: physical;
                margin-right-ltr-source: physical;
                margin-right-rtl-source: physical;
            }

            #push, #footer {
               height: 60px;
            }
        </style>
        <title>SaaS Integration Library - {% block title%} API Explorer {% endblock %}</title>
    </head>

    <body>
        <div id="wrap">
            <div class="navbar navbar-inverse navbar-fixed-top">
               <div class="navbar-inner">
                   <div class="container">
                       <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                       </button>
                       <a class="brand" href="/SIL/"> <img src="{% static "brightgaugelogo.png" %}" alt="BrightGauge Logo" /> </a>

                       <div class="nav-collapse collapse">
                           <ul class="nav pull-right">
                               {% if user.is_authenticated %}
                           <!--<li class="navbar-text">Welcome, {{ user.username }}!</li>
                                <li><a href="/SIL/logout/">Logout</a></li>-->
                               {% else %}
                                <!--<li><a href="/SIL/register/">Register</a></li>-->

                               {% endif %}
                           </ul>
                           <ul class="nav">
                               {% if user.is_authenticated %}
                                <!--<li><a href="/SIL/restricted/">Restricted</a></li>-->
                               {% endif %}
                               <!--<li><a href="/SIL/about/">About</a></li>-->
                               <li><a href="/SIL/api">Datasets</a></li>
                               <li><a href="/SIL/datasource">Datasources</a>></li>
                           </ul>
                       </div>
                       <!--/.nav-collapse -->
                   </div>
               </div>
            </div>

            <div class="container-fluid">
                <div class="row-fluid">
                    <!--<div class="span3">-->
                        <!--<div class="well sidebar-nav">-->
                            <!--&lt;!&ndash;- Empty for the timebeing &ndash;&gt;-->
                        <!--</div>-->
                        <!--&lt;!&ndash;/.well &ndash;&gt;-->
                    <!--</div>-->
                    <!--/span-->
                    <!--<div class="span9">-->
                         <!-- Page specific content goes here -->
                        {% block body_block %}
                        {% endblock %}
                    <!--</div>-->
                    <!--/span-->
                </div>
                <!--/row-->
            </div>
            <!--/.fluid-container-->
            <div id="push"></div>
        </div>


        <div id="footer">
             <hr>
            <div class="container">
                <p>&copy; SaaS Integration Library: API Explorer</p>
            </div>
        </div>

        <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>
