<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">

        <!-- DataTables CSS -->
        <link rel="stylesheet" type="text/css" href="{% static '/static/DataTables-1.10.5/media/css/jquery.dataTables.css' %}">
        <!-- jQuery -->
        <script type="text/javascript" charset="utf8" src="{% static '/static/DataTables-1.10.5/media/js/jquery.js' %}"></script>
        <!-- DataTables -->
        <script type="text/javascript" charset="utf8" src="{% static '/static/DataTables-1.10.5/media/js/jquery.dataTables.js' %}"></script>

        <style>
            html, body {
                min-height: 100%;
                height: 100%;
             }



            .footer {
                position: relative;
                left: 0;
                bottom: 0;
                width: 100%;
            }

        </style>
        <script type="text/javascript" src="https://api.trello.com/1/client.js?key={{ trello_key }}">
        </script>
        <script type="text/javascript">
        Trello.authorize({
            interactive:false,
            success: onAuthorize
        });

        $(document).ready(function (){
            $("#trello_connect")
            .click(function(){
                Trello.authorize({
                    name: "SaaS Integration Library",
                    type: "popup",
                    interactive: true,
                    expiration: "never",
                    persist: true,
                    success: onAuthorize,
                    scope: { write: false, read: true }
                })
            })
        });

        var onAuthorize = function () {
        var token = Trello.token();
        window.location.replace("confirmation/Trello?token=" + token);
        }
        </script>


        <script type="text/javascript">
            $(document).ready(function () {
                $('#call').dataTable();
            } );
        </script>

        <title>SaaS Integration Library - {% block title%} API Explorer {% endblock %}</title>
    </head>

    <body>
        <div id="wrap">
            <div class="navbar navbar-inverse navbar-fixed-top">
               <div class="navbar-inner">

                       <a class="brand" href="/SIL/"> <img src="{% static "brightgaugelogo.png" %}" alt="BrightGauge Logo" /> </a>
                   <div class="container">
                       <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                       </button>

                       <div class="nav-collapse collapse">
                           <ul class="nav pull-right">


                           </ul>
                           <ul class="nav">

                               <li><a href="/SIL/api">Datasets</a></li>
                               <li><a href="/SIL/datasource">Datasources</a>></li>
                           </ul>
                       </div>
                       <!--/.nav-collapse -->
                   </div>
               </div>
            </div>

            <div class="container-fluid">
                <div class="row-fluid">
                    <!--<div class="span3">-->
                        <!--<div class="well sidebar-nav">-->
                            <!--&lt;!&ndash;- Empty for the timebeing &ndash;&gt;-->
                        <!--</div>-->
                        <!--&lt;!&ndash;/.well &ndash;&gt;-->
                    <!--</div>-->
                    <!--/span-->
                    <!--<div class="span9">-->
                         <!-- Page specific content goes here -->
                        {% block body_block %}
                        {% endblock %}
                    <!--</div>-->
                    <!--/span-->
                </div>
                <!--/row-->
            </div>
            <!--/.fluid-container-->
        </div>

        <div class="footer" >
             <hr>
            <div class="container">
                <p>&copy; SaaS Integration Library: API Explorer</p>
            </div>
        </div>

        <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>
