{% extends 'SIL/base.html' %}

{% load static %}

{% block title %}DataSources{% endblock %}

{% block body_block %}
    <div class="hero-unit">
        <h2>Choose a Datasource</h2>
        <br>
        <a class="brand" href="https://trello.com/1/authorize?key=6fb61b8a99b93c4cbf0b63a5f440503&name=SaaS+Integration+Library&expiration=never&response_type=token"><img src="{% static "trellolink.png" %}" alt="Trello icon" /> </a>
        <br>
        <br>
        <p>More Coming Soon!</p>

    </div>
{% endblock %}